{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "no-else-return": 0,
    "arrow-parens": [
      2,
      "always"
    ],
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 1,
    "react/destructuring-assignment": 0
  }
}
